.wrapper { max-width: 1110px; margin: 0 auto; box-sizing: border-box; padding: 0 15px; }

.header { padding: 13px 0 11px; background-color: #0c3a4c; position: sticky; top: 0; z-index: 999; }

.header .bottom_info { display: none; margin-top: 0; text-align: left; }

.header .bottom_info span { border-bottom: 1px solid #10a0db; }

.header-content { display: flex; justify-content: space-between; padding: 0 6px; font-size: 12px; }

.header_social-network-container { display: none; }

.header-item { text-decoration: none; text-transform: uppercase; font-family: "Fira Sans Condensed"; color: #74929e; transition: .3s ease-in-out; }

.header-item-selected { color: #20a9e1 !important; }

.header-item:hover { transition: .3s ease-in-out; color: #20a9e1; }

.hamburger_container { display: none; position: absolute; right: 20px; top: 50%; transform: translate(0, -50%); }

.hamburger_container .hamburger { position: relative; width: 25px; height: 2px; background-color: #fff; transition: .3s ease-in-out; }

.hamburger_container .hamburger:after { content: ''; position: absolute; bottom: -6px; left: 0; display: block; background-color: #fff; width: 25px; height: 2px; transition: .3s ease-in-out; }

.hamburger_container .hamburger:before { content: ''; position: absolute; top: -6px; left: 0; display: block; background-color: #fff; width: 25px; height: 2px; transition: .3s ease-in-out; }

.hamburger-active.hamburger { background-color: transparent; transition: .3s ease-in-out; }

.hamburger-active.hamburger:before { transition: .3s ease-in-out; transform: rotate(45deg); top: 0; }

.hamburger-active.hamburger:after { transition: .3s ease-in-out; top: 0; transform: rotate(-45deg); }

@media (max-width: 640px) { .hamburger_container { display: block; }
  .header .wrapper { position: relative; }
  .header-item:hover { color: #74929e; }
  .header .bottom_info { display: block; }
  .header_main_container { position: absolute; display: flex; flex-direction: column; align-items: center; top: 27px; left: 0; right: 0; padding: 30px 0; background-color: #0c3a4c; box-shadow: 0 3px 18px 3px rgba(4, 22, 29, 0.14); }
  .header_main_container .hero_social-network { margin-right: 20px; }
  .header_main_container .hero_social-network:first-of-type { margin-right: 15px; }
  .header_main_container .hero_social-network:last-of-type { margin-right: 0; }
  .header_main_container_close { display: none !important; }
  .header-item { margin-bottom: 18px; font-size: 16px; }
  .header-content { flex-direction: column; justify-content: center; }
  .header_social-network-container { display: block; margin-top: 15px; }
  .header_social-network-container .hero_info:nth-child(2) { font-size: 11px; max-width: 100%; } }

.hero { padding: 20px 0 69px; background: center/cover no-repeat url("../img/hero/bgHero.png"); }

.hero_top-content { display: flex; justify-content: space-between; align-items: center; font-family: "Raleway"; }

.hero_top-content_item { display: flex; align-items: center; }

.hero_logo { width: 68px; height: 65px; background: #000; margin-right: 29px; }

.hero_info { color: #ffffff; opacity: 0.5; font-size: 14px; line-height: 21px; }

.hero_social-network-container { margin-right: 26px; display: flex; }

.hero_social-network { margin-right: 19px; color: transparent; }

.hero_social-network svg { width: 30px; height: 30px; opacity: 0.35; transition: .3s ease-in-out; }

.hero_social-network:last-of-type { margin-right: 0; }

.hero_social-network:last-of-type svg { width: 35px; }

.hero_social-network:first-of-type { margin-right: 17px; }

.hero_social-network:first-of-type svg { width: 35px; }

.hero_social-network:hover svg { opacity: 1; transition: .3s ease-in-out; }

.hero_contacts-container { text-align: right; }

.hero_contacts-container_info { color: #fff; font-size: 14px; }

.hero_contacts-container_phone { font-family: "Fira Sans Condensed"; font-size: 30px; cursor: pointer; margin: 6px 0 5px; }

.hero_contacts-container_phone a { color: #fff; text-decoration: none; }

.hero_order { cursor: pointer; color: #10a0db; font-size: 14px; border-bottom: 1px solid #fd4d4f; opacity: 0.5; transition: .3s ease-in-out; }

.hero_order:hover { transition: .3s ease-in-out; opacity: 1; }

.hero_title { margin-top: 71px; font-family: "Fira Sans Condensed"; font-size: 48px; font-weight: 500; color: #ffffff; text-align: center; }

.hero_subtitle { position: relative; margin-top: 34px; padding-bottom: 34px; line-height: 30px; font-family: "Raleway"; color: #ffffff; font-size: 24px; text-align: center; font-weight: 400; }

.hero_subtitle:after { content: ''; position: absolute; background-color: #ffffff; height: 1px; width: 67px; left: 50%; bottom: 0; transform: translate(-50%, 0); }

.hero_advantages-main-container { font-family: "Raleway"; margin-bottom: 50px; }

.hero_advantages-container { display: flex; flex-wrap: wrap; padding-top: 37px; }

.hero_advantages-item { display: flex; align-items: center; width: 100%; max-width: 25%; }

.hero_advantages-item span { line-height: 21px; margin-left: 18px; color: #fff; }

.hero_advantages-item:nth-child(-n+4) { padding-bottom: 17px; border-bottom: 1px solid rgba(232, 232, 232, 0.1); }

.hero_advantages-item:nth-child(n+4) { padding-top: 17px; }

.btn_container { z-index: 1; text-align: center; position: relative; }

.btn_container:active .btn_wrapper { overflow: hidden; }

.btn_wrapper { position: relative; display: inline-block; }

.btn_wrapper:after { content: ''; width: 97%; height: 100%; box-shadow: 0 3px 27px 1px rgba(253, 105, 107, 0.52); border-radius: 14px; background-color: #aa3435; position: absolute; left: 5px; bottom: -6px; z-index: -1; }

.btn { position: relative; box-shadow: inset 0 -1px 0 #fd6264; border-radius: 4px 4px 8px 8px; background-image: linear-gradient(to top, #fd4d4f 0%, #fd8687 100%); color: #ffffff; font-family: "Fira Sans Condensed"; text-transform: uppercase; text-shadow: 0 1px 0 #d94244; border: none; padding: 29px 42px; font-size: 16px; overflow: hidden; outline: none; cursor: pointer; }

.btn:hover { background-image: linear-gradient(to top, #ff4f51 0%, #ffa6a7 100%); }

.btn a { color: #ffffff; text-decoration: none; }

.btn:before { content: ''; width: 2em; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.8); transform: translate(-5em) skewX(-45deg); animation: move-light 2.5s infinite; }

@keyframes move-light { from { transform: translate(-5em) skewX(-45deg); }
  to { transform: translate(27em) skewX(-45deg); } }

.bottom_info { margin-top: 19px; text-align: center; }

.bottom_info span { font-family: "Raleway"; }

@media (max-width: 1020px) { .hero_info { max-width: 166px; }
  .hero_info:nth-child(2) { max-width: 177px; } }

@media (max-width: 970px) { .hero_social-network { margin-right: 10px; }
  .hero_social-network:first-of-type { margin-right: 5px; } }

@media (max-width: 750px) { .hero_top-content_item:nth-of-type(2) { flex-direction: column; }
  .hero_social-network-container { margin-right: 0; margin-bottom: 17px; }
  .hero .hero_title { font-size: 40px; }
  .hero .hero_subtitle { font-size: 20px; }
  .hero_advantages-contaienr { padding-top: 18px; }
  .hero_advantages-item { max-width: 30%; padding-left: 17px; }
  .hero_advantages-item:nth-child(-n+6) { padding-bottom: 17px; padding-top: 19px; border-bottom: 1px solid rgba(232, 232, 232, 0.1); } }

@media (max-width: 640px) { .hero .hero_top-content_item:nth-of-type(2) { flex-direction: column; display: none; } }

@media (max-width: 600px) { .hero_advantages-item { max-width: 46%; border-bottom: 1px solid rgba(232, 232, 232, 0.1); padding-bottom: 17px; } }

@media (max-width: 517px) { .hero_top-content { flex-direction: column; align-items: flex-start; }
  .hero_contacts-container { text-align: left; margin-top: 29px; margin-right: 50px; }
  .hero_logo { margin-right: 17px; }
  .hero .hero_title { margin-top: 41px; font-size: 36px; text-align: left; }
  .hero .hero_subtitle { font-size: 21px; text-align: left; } }

@media (max-width: 456px) { .hero_advantages-container { flex-wrap: nowrap; flex-direction: column; }
  .hero_advantages-item { max-width: 100%; }
  .hero_advantages-item:nth-child(-n+8) { border-bottom: 0; padding-top: 0; padding-left: 0; }
  .hero_br { display: none; } }

@media (max-width: 375px) { .hero .hero_title { font-size: 24px; }
  .hero .hero_subtitle { font-size: 18px; } }

.quiz { padding: 68px 0 73px; }

.quiz_content { background: url(../img/quiz/accounting_services_.png) no-repeat left, url(../img/quiz/accounting_servicesR.png) no-repeat right; }

.quiz_answers-container { display: flex; flex-wrap: wrap; }

.quiz_answer { font-family: "Raleway"; margin-left: 19px; border-bottom: 1px solid rgba(16, 160, 219, 0.2); padding-bottom: 2px; color: #24ace3; transition: .3s ease-in-out; font-size: 14px; }

.quiz_answer-item { display: flex; align-items: center; margin-right: 27px; margin-bottom: 18px; padding: 18px 87px 17px 31px; transition: .3s ease-in-out; border-radius: 4px; background-color: #f9f9f9; border: 1px solid #f9f9f9; max-width: 188px; width: 100%; }

.quiz_answer-item:hover { box-shadow: 0 3px 18px 3px rgba(253, 105, 107, 0.14); border: 1px solid #fdadae; transition: .3s ease-in-out; background-color: #fff; }

.quiz_answer-item:hover .quiz_answer-item_icon { fill: #fd4d4f; transition: .3s ease-in-out; }

.quiz_answer-item:hover .quiz_answer { color: #777777; border-bottom: 1px solid rgba(253, 77, 79, 0.5); transition: .3s ease-in-out; }

.quiz_answer-item:nth-child(2n) { margin-right: 0; }

.quiz_answer-item_icon { fill: #c5c5c5; transition: .3s ease-in-out; }

.quiz_main-container { padding: 10px 12px; margin: 35px auto 0; max-width: 854px; background: #fff; box-shadow: 0 5px 33px 2px rgba(0, 0, 0, 0.03); border: 1px solid #f9f9f9; }

.quiz_item { border: 1px solid #f0f0f0; border-radius: 4px; padding: 51px 108px 40px 99px; }

.quiz_number { text-align: center; font-family: "Raleway"; color: #7a7a7a; font-size: 12px; font-weight: 500; margin-bottom: 34px; }

.quiz_progress { position: relative; max-width: 100%; width: 100%; height: 4px; background-color: #f9f9f9; }

.quiz_progress span { position: absolute; max-width: 25%; width: 100%; height: 4px; background-color: #fd4d4f; transition: all .3s ease-in-out; }

.quiz_title { color: #505050; font-size: 24px; font-family: "Raleway"; text-align: center; padding: 33px 0 35px; }

.quiz_btn { text-align: left; margin-top: 17px; display: flex; align-items: center; }

.quiz_btn button { padding: 25px 85px 27px; }

.quiz_btn .btn_wrapper { margin-right: 29px; }

.quiz_previous-question { font-family: "Raleway"; opacity: 0.5; color: #505050; border-bottom: 1px solid rgba(80, 80, 80, 0.1); cursor: pointer; transition: .3s ease-in-out; }

.quiz_previous-question:hover { opacity: 1; color: #10a0db; transition: .3s ease-in-out; }

.quiz_form_container { margin-top: 33px; }

.quiz_form_container_title { line-height: 30px; font-family: "Raleway"; color: #505050; font-size: 24px; margin-bottom: 35px; }

.quiz_form_container .btn_container { text-align: left; max-width: 293px; padding-left: 5px; }

.quiz_form_container .btn_container .btn_wrapper, .quiz_form_container .btn_container .btn { width: 100%; }

.quiz_form_container .form_bottom { justify-content: flex-start; margin-left: 17px; }

.quiz .form_input_container { margin-bottom: 35px; }

.quiz .form_input_container input { max-width: 290px; }

.title { text-align: center; position: relative; padding-bottom: 29px; color: #505050; font-family: "Fira Sans Condensed"; font-size: 36px; font-weight: 500; }

.title:after { content: ''; position: absolute; background-color: #505050; height: 1px; width: 67px; left: 50%; transform: translate(-50%, 0); bottom: 0; }

.title:nth-of-type(even) { color: #fff; }

@media (max-width: 910px) { .quiz_item { padding: 51px 39px 40px 43px; }
  .quiz_answer-item { padding-right: 0; max-width: 42%; width: 100%; } }

@media (max-width: 722px) { .title { font-size: 30px; }
  .quiz_title { font-size: 20px; }
  .quiz_answer-item { max-width: 37%; padding-right: 10px; } }

@media (max-width: 572px) { .quiz_answers-container { flex-wrap: nowrap; flex-direction: column; }
  .quiz_answer-item { max-width: 90%; }
  .quiz_btn { flex-direction: column; }
  .quiz_btn .btn_wrapper { margin-right: 0; }
  .quiz_previous-question { margin-top: 25px; } }

@media (max-width: 425px) { .title { font-size: 22px; }
  .quiz_item { padding: 0; border: 0; }
  .quiz_answer-item { max-width: 86%; }
  .quiz_main-container { box-shadow: 0; border: 0; padding: 0; }
  .quiz_form_container_title { font-size: 18px; } }

.chech { background: center/cover no-repeat url("../img/hero/bgHero.png"); padding: 69px 0 75px; }

.chech .title:after { background-color: #fff; }

.chech_main-container { margin-top: 35px; position: relative; }

.chech_container { display: flex; }

.chech_item { height: 383px; padding: 37px 37px 37px 30px; background-color: #fff; margin-right: 5px; }

.chech_item:last-of-type { margin-right: 0; }

.chech_item_info { font-family: "Raleway"; color: #7a7a7a; font-size: 14px; line-height: 24px; }

.chech_item_title-container { display: flex; align-items: center; margin-bottom: 22px; }

.chech_item_title { margin-left: 17px; }

.chech_item_img { width: 60px; height: 60px; }

.chech_item_title { color: #505050; font-size: 18px; line-height: 27px; text-transform: uppercase; font-family: "Fira Sans Condensed"; }

.subtitle { margin-top: 36px; margin-bottom: 35px; text-align: center; font-family: "Raleway"; font-size: 24px; color: #ffffff; }

.previous-button, .next-button { position: absolute; box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.11); background-color: #ffffff; width: 50px; height: 50px; border-radius: 50%; transition: .3s ease-in-out; border: none; top: 37%; outline: none; }

.previous-button svg, .next-button svg { width: 30px; height: 30px; margin-top: 4px; transition: .3s ease-in-out; }

.previous-button:hover, .next-button:hover { background-color: #24abe2; transition: .3s ease-in-out; }

.previous-button:hover svg, .next-button:hover svg { fill: #fff; transition: .3s ease-in-out; }

.previous-button { transform: rotate(0.5turn); left: -25px; }

.next-button { right: -25px; }

.slider-dots { display: flex; justify-content: center; margin-top: 34px; }

.slider-dots li { max-width: 155px; width: 100%; }

.slider-dots li button { width: inherit; outline: none; border: none; height: 3px; color: transparent; background-color: #f9f9f9; }

.slider-dots li.slick-active button { background-color: #fd4d4f; }

@media (max-width: 750px) { .subtitle { font-size: 20px; } }

@media (max-width: 500px) { .subtitle { font-size: 18px; } }

@media (max-width: 1131px) { .next-button { right: -10px; }
  .previous-button { left: -10px; } }

.beauty { padding: 69px 0 75px; }

.beauty_title:after { background-color: #10a0db; }

.beauty_main-container { margin-top: 35px; position: relative; }

.beauty_previous-button { left: 140px; }

.beauty_next-button { right: 140px; }

.beauty .subtitle { color: #505050; }

.beauty_slide { outline: none; }

.beauty_slide img { margin: 0 auto; }

@media (max-width: 1092px) { .beauty_previous-button { left: 126px; }
  .beauty_next-button { right: 126px; } }

@media (max-width: 1054px) { .beauty_previous-button { left: 104px; }
  .beauty_next-button { right: 104px; } }

@media (max-width: 1006px) { .beauty_previous-button { left: 80px; }
  .beauty_next-button { right: 80px; } }

@media (max-width: 970px) { .beauty_previous-button { left: 63px; }
  .beauty_next-button { right: 63px; } }

@media (max-width: 920px) { .beauty_previous-button { left: 37px; }
  .beauty_next-button { right: 37px; } }

@media (max-width: 880px) { .beauty_previous-button { left: 17px; }
  .beauty_next-button { right: 17px; } }

@media (max-width: 840px) { .beauty_previous-button { left: 0; }
  .beauty_next-button { right: 0; } }

@media (max-width: 800px) { .beauty_previous-button { left: -17px; }
  .beauty_next-button { right: -17px; } }

@media (max-width: 425px) { .beauty_slide img { height: 186px; }
  .beauty_previous-button, .beauty_next-button { top: 29%; }
  .beauty_previous-button { left: 0; }
  .beauty_next-button { right: 0; } }

@media (max-width: 353px) { .beauty_previous-button { left: -15px; }
  .beauty_next-button { right: -15px; } }

.reviews { padding: 69px 0 74px; background: center/cover no-repeat url("../img/reviews/bg.png"); }

.reviews .title { color: #ffffff; }

.reviews .title:after { content: none; }

.reviews_main-container { position: relative; margin: 34px 0; }

.reviews_slide { display: flex; flex-direction: column; }

.reviews_slide_photo-container { width: 166px; height: 158px; text-align: center; border-radius: 50%; border-top: 1px solid #fd4d4f; padding: 11px; margin-right: 23px; }

@media (max-width: 600px) { .reviews_slide_photo-container { margin-right: 0; } }

.reviews_slide_photo { position: relative; border-radius: 50%; border-right: 1px solid #fd4d4f; padding: 21px; }

.reviews_slide_photo_img { border-radius: 50%; box-shadow: 0 0 27px 8px rgba(253, 105, 107, 0.52); }

.reviews_slide_icon { position: absolute; right: -15px; top: calc(50%  - 27px); width: 45px; height: 45px; }

.reviews_slide_container { display: flex; margin-bottom: 31px; flex-direction: column; }

.reviews_slide_container:nth-of-type(2n) { margin-bottom: 0; }

.reviews_slide_item { flex-grow: 1; margin-bottom: 24px; opacity: .6; transition: .3s ease-in-out; }

.reviews_slide_item a { display: flex; align-items: center; justify-content: center; }

@media (max-width: 600px) { .reviews_slide_item a { flex-direction: column; } }

.reviews_slide_item:hover { opacity: 1; transition: .3s ease-in-out; }

.reviews_slide_item:hover .reviews_slide_info { opacity: 1; transition: .3s ease-in-out; }

.reviews_slide_info { color: #ffffff; opacity: .35; font-family: "Fira Sans Condensed"; border-bottom: 1px solid #fd4d4f; line-height: 21px; transition: .3s ease-in-out; }

.reviews_previous-button, .reviews_next-button { top: 32%; }

.second_subtitle { position: relative; max-width: 717px; width: 100%; margin: 5px auto 0; color: #d3d3d3; font-family: "Raleway"; font-size: 20px; line-height: 30px; text-align: center; padding-bottom: 35px; }

.second_subtitle:after { content: ''; position: absolute; background-color: #10a0db; height: 1px; width: 67px; left: 50%; transform: translate(-50%, 0); bottom: 0; }

@media (max-width: 425px) { .second_subtitle { font-size: 18px; } }

.vantage { padding: 69px 0 75px; }

.vantage .title:after { content: none; }

.vantage .second_subtitle { color: #7a7a7a; }

.vantage_main-container { position: relative; padding: 4px 0 35px 54px; background: no-repeat center/cover url(../img/vantage/bg.png); }

.vantage_container { display: flex; flex-wrap: wrap; max-width: 616px; width: 100%; }

.vantage_item { margin-right: 30px; margin-top: 31px; max-width: 234px; padding: 31px 31px 33px 28px; border-radius: 4px 4px 4px 1px; background-color: #ffffff; }

.vantage_item:nth-of-type(2n) { margin-right: 0; }

.vantage_item_top-container { display: flex; align-items: center; margin-bottom: 27px; }

.vantage_item_top-container img { width: 60px; height: 60px; }

.vantage_item_title { color: #505050; font-size: 18px; font-family: "Fira Sans Condensed"; text-transform: uppercase; margin-left: 20px; }

.vantage_item_info { color: #7a7a7a; font-family: "Raleway"; font-size: 14px; line-height: 21px; }

.vantage_img { position: absolute; bottom: 0; right: 2px; width: 442px; height: 526px; }

.vantage_main-video-container { position: relative; }

.vantage_main-video-container .previous-button { left: 28%; }

.vantage_main-video-container .next-button { right: 28%; }

.vantage_video-item { position: relative; margin: 34px 0 0; height: 319px; }

.vantage_video-item img { height: 100%; width: 100%; }

.vantage_video-item_screen { position: absolute; background: #ffffff; opacity: .7; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; z-index: 99; }

.vantage_video-item_playpause_container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 93px; height: 92px; padding: 10px; border-radius: 50%; border-top: 1px solid #fd4d4f; border-left: 1px solid #fd4d4f; }

.vantage_video-item_playpause_wrapper { display: flex; justify-content: center; align-items: center; border-right: 1px solid #fd4d4f; border-bottom: 1px solid #fd4d4f; border-radius: 50%; width: 72px; height: 71px; margin: 10px auto 0; }

.vantage_video-item_playpause { background: #fff; border-radius: 50%; border-bottom: 1px solid #fd4d4f; width: 51px; display: flex; height: 51px; align-items: center; justify-content: center; }

.vantage_video-item_playpause_elem { width: 0; height: 0; border-style: solid; border-width: 9.5px 0 9.5px 12px; border-color: transparent transparent transparent #fd4d4f; }

.vantage_main-photo-container { position: relative; margin-top: 42px; margin-bottom: 34px; }

.vantage_main-photo-container .previous-button, .vantage_main-photo-container .next-button { top: 28%; }

.vantage_photo-slider .vantage_photo-item { display: flex; justify-content: center; }

.vantage_photo-item img { border: 1px solid transparent; border-radius: 4px; transition: .3s ease-in-out; }

.vantage_photo-item img:hover { border: 1px solid #fd4d4f; transition: .3s ease-in-out; }

.vantage .subtitle { color: #505050; margin-top: 16px; }

.vantage .slick-current .vantage_video-item_screen { display: none; }

@media (max-width: 1096px) { .vantage_img { right: 0; bottom: -15px; width: 300px; height: 358px; } }

@media (max-width: 920px) { .vantage_img { width: 213px; height: 269px; } }

@media (max-width: 844px) { .vantage_img { display: none; }
  .vantage_main-container { padding-left: 0; }
  .vantage_container { margin: 0 auto; } }

@media (max-width: 654px) { .vantage_container { justify-content: center; }
  .vantage_item { max-width: 256px; margin-right: 0; }
  .vantage_photo-item img { width: 131px; height: 135px; }
  .vantage_main-photo-container .previous-button, .vantage_main-photo-container .next-button { top: 22%; } }

@media (max-width: 425px) { .vantage_main-container { background: #fff; }
  .vantage_item { border: 1px solid #f0f0f0; margin-top: 19px; } }

@media (max-width: 1352px) { .vantage_main-video-container .previous-button { left: 27%; }
  .vantage_main-video-container .next-button { right: 27%; } }

@media (max-width: 1240px) { .vantage_main-video-container .previous-button { left: 25%; }
  .vantage_main-video-container .next-button { right: 25%; } }

@media (max-width: 1150px) { .vantage_main-video-container .previous-button { left: 23%; }
  .vantage_main-video-container .next-button { right: 23%; } }

@media (max-width: 1060px) { .vantage_main-video-container .previous-button { left: 21%; }
  .vantage_main-video-container .next-button { right: 21%; } }

@media (max-width: 986px) { .vantage_main-video-container .previous-button { left: 19%; }
  .vantage_main-video-container .next-button { right: 19%; } }

@media (max-width: 916px) { .vantage_main-video-container .previous-button { left: 16%; }
  .vantage_main-video-container .next-button { right: 16%; } }

@media (max-width: 834px) { .vantage_main-video-container .previous-button { left: 13%; }
  .vantage_main-video-container .next-button { right: 13%; } }

@media (max-width: 766px) { .vantage_main-video-container .previous-button { left: 9%; }
  .vantage_main-video-container .next-button { right: 9%; } }

@media (max-width: 700px) { .vantage_main-video-container .previous-button { left: 6%; }
  .vantage_main-video-container .next-button { right: 6%; } }

@media (max-width: 650px) { .vantage_main-video-container .previous-button { left: 2%; }
  .vantage_main-video-container .next-button { right: 2%; } }

@media (max-width: 590px) { .vantage_main-video-container .previous-button { left: 0; }
  .vantage_main-video-container .next-button { right: 0; } }

@media (max-width: 425px) { .vantage_main-photo-container .previous-button, .vantage_main-photo-container .next-button { top: 22%; }
  .vantage_video-item { height: 197px; } }

.work { padding: 80px 0 75px; background: no-repeat center/cover url("../img/reviews/bg.png"); }

.work .title { color: #ffffff; }

.work .title:after { background-color: #ffffff; }

.work_container { display: flex; align-items: center; justify-content: center; position: relative; padding-top: 270px; padding-bottom: 200px; }

.work_item { padding: 30px 41px 28px 31px; background: rgba(255, 255, 255, 0.1); border-radius: 4px; }

.work_item_wrapper { position: absolute; width: 100%; }

.work_item_wrapper:nth-child(1) { top: 47px; max-width: 356px; }

.work_item_wrapper:nth-child(1) .work_item_number { left: calc(50% - 20px); bottom: -20px; }

.work_item_wrapper:nth-child(2) { top: 177px; right: 51px; max-width: 263px; }

.work_item_wrapper:nth-child(2) .work_item { padding: 29px 36px 30px 29px; }

.work_item_wrapper:nth-child(2) .work_item_number { bottom: -20px; left: -14px; }

.work_item_wrapper:nth-child(3) { right: 55px; bottom: 111px; max-width: 263px; }

.work_item_wrapper:nth-child(3) .work_item { padding: 30px 30px 29px 28px; }

.work_item_wrapper:nth-child(3) .work_item_number { top: -12px; left: -12px; }

.work_item_wrapper:nth-child(4) { bottom: 44px; max-width: 357px; }

.work_item_wrapper:nth-child(4) .work_item_number { top: -15px; left: calc(50% - 20px); }

.work_item_wrapper:nth-child(5) { bottom: 63px; left: 55px; max-width: 263px; }

.work_item_wrapper:nth-child(5) .work_item_number { top: -12px; right: -12px; }

.work_item_wrapper:nth-child(5) .work_item { padding: 25px 33px 30px 29px; }

.work_item_wrapper:nth-child(6) { top: 160px; left: 55px; max-width: 263px; }

.work_item_wrapper:nth-child(6) .work_item_number { right: -15px; bottom: -12px; }

.work_item_title { color: #24abe2; font-size: 20px; font-family: "Fira Sans Condensed"; margin-bottom: 16px; line-height: 30px; }

.work_item_number { position: absolute; display: flex; justify-content: center; align-items: center; background-color: #fd4d4f; width: 30px; height: 30px; color: #ffffff; border-radius: 50%; padding: 5px; z-index: 3; }

.work_item_info { color: #ffffff; font-family: "Raleway"; font-size: 14px; line-height: 21px; }

.work_center-item { position: relative; display: flex; justify-content: center; align-items: center; max-width: 518px; width: 100%; height: 518px; border-radius: 50%; border: 10px solid #24abe2; z-index: 2; }

.work_center-item:after { content: ''; position: absolute; max-width: 323px; width: 100%; height: 323px; background-color: #f9f9f9; opacity: 0.1; border-radius: 50%; z-index: -1; }

.work .btn { margin-top: 0; }

@media (max-width: 1082px) { .work_item_wrapper:nth-child(2), .work_item_wrapper:nth-child(3) { right: 25px; }
  .work_item_wrapper:nth-child(5) { left: 33px; }
  .work_item_wrapper:nth-child(6) { left: 25px; } }

@media (max-width: 1032px) { .work_item_wrapper:nth-child(2), .work_item_wrapper:nth-child(3) { right: 0; }
  .work_item_wrapper:nth-child(5) { left: 5px; }
  .work_item_wrapper:nth-child(6) { left: 0; } }

@media (max-width: 976px) { .work_center-item { height: 452px; max-width: 452px; } }

@media (max-width: 942px) { .work_center-item { height: 380px; max-width: 386px; }
  .work_center-item img { width: 90%; } }

@media (max-width: 924px) { .work_container { padding-top: 464px; padding-bottom: 271px; }
  .work_item { max-width: 147px; width: 100%; margin: 0 auto; }
  .work_item_wrapper:nth-child(2) { right: 34px; top: 290px; }
  .work_item_wrapper:nth-child(2) .work_item_number { left: 5px; }
  .work_item_wrapper:nth-child(3) { right: 13px; }
  .work_item_wrapper:nth-child(3) .work_item_number { left: 10px; }
  .work_item_wrapper:nth-child(5) { bottom: 18px; left: 10px; }
  .work_item_wrapper:nth-child(5) .work_item_number { right: 12px; }
  .work_item_wrapper:nth-child(6) { left: 30px; top: 257px; }
  .work_item_wrapper:nth-child(6) .work_item_number { right: 6px; } }

@media (max-width: 876px) { .work_item_wrapper:nth-child(2) { right: 13px; }
  .work_item_wrapper:nth-child(3) { right: -7px; }
  .work_item_wrapper:nth-child(5) { left: -10px; }
  .work_item_wrapper:nth-child(6) { left: 9px; } }

@media (max-width: 840px) { .work_center-item { max-width: 344px; height: 340px; }
  .work_center-item:after { width: 65%; height: 65%; } }

@media (max-width: 814px) { .work_center-item { max-width: 304px; height: 300px; }
  .work_item_wrapper:nth-child(2) { right: 4px; }
  .work_item_wrapper:nth-child(5) { left: -5px; }
  .work_item_wrapper:nth-child(6) { left: 0; } }

@media (max-width: 780px) { .work_container { display: flex; flex-direction: column; padding-top: 50px; padding-bottom: 1px; }
  .work_item_wrapper:nth-child(-n+6) { position: relative; right: auto; left: auto; bottom: auto; top: auto; max-width: 550px; width: 100%; margin-bottom: 33px; }
  .work_item_wrapper:nth-child(-n+6) .work_item_number { left: 50%; top: -20px; transform: translate(-50%, 0); }
  .work_item_wrapper:nth-child(-n+6) .work_item { padding: 30px 41px 28px 31px; width: auto; max-width: 100%; margin: 0; }
  .work_container { display: flex; flex-wrap: wrap; }
  .work_center-item { display: none; } }

.contacts { padding: 69px 0 50px; background: no-repeat center/cover url(../img/contacts/bg.png); }

.contacts .wrapper { position: relative; }

.contacts .title:after { background-color: #24abe2; }

.contacts_main-container { display: flex; justify-content: center; margin-top: 34px; }

.contacts_container { margin-right: 20px; width: 100%; max-width: 355px; }

.contacts_container:last-child { margin-right: 0; }

.contacts_container:nth-child(2) { padding: 37px 50px 37px 52px; background-color: #ffffff; border-radius: 4px; border: 1px solid #24abe2; max-width: 291px; }

.contacts_item { display: flex; align-items: center; padding: 32px 0px 32px 35px; border-bottom: 1px solid rgba(0, 0, 0, 0.07); color: #505050; font-family: "Fira Sans Condensed"; }

.contacts_item img { width: 30px; margin-right: 20px; }

.contacts_item:first-of-type { align-items: flex-start; line-height: 21px; }

.contacts_item:first-of-type img { margin-right: 29px; }

.contacts_item:nth-child(2n) { font-family: "Raleway"; font-size: 14px; line-height: 21px; }

.contacts_item:nth-child(4n) { border-bottom: none; }

.contacts_item_info { display: flex; flex-direction: column; font-size: 20px; }

.contacts_item_info a { color: #505050; text-decoration: none; }

.contacts_item_info a:nth-child(2) { margin-top: 13px; }

.contacts_item_email { color: #10a0db; font-size: 16px; border-bottom: 1px solid rgba(16, 160, 219, 0.2); padding-bottom: 2px; text-decoration: none; }

.contacts_item_title { color: #24abe2; font-family: "Raleway"; font-size: 20px; line-height: 30px; margin-bottom: 30px; }

.contacts_item_subtitle { color: #7a7a7a; font-family: "Raleway"; line-height: 21px; margin-bottom: 36px; }

.contacts_bottom-info { margin-top: 35px; text-align: center; font-family: "Raleway"; color: #7a7a7a; }

.contacts_info { padding-top: 43px; padding-bottom: 43px; }

.contacts_social-networks_container { text-align: center; margin-top: 35px; }

.contacts_social-networks_item { margin-right: 19px; color: transparent; }

.contacts_social-networks_item svg { width: 30px; height: 30px; opacity: 0.35; transition: .3s ease-in-out; }

.contacts_social-networks_item:last-of-type { margin-right: 0; }

.contacts_social-networks_item:last-of-type svg { width: 35px; }

.contacts_social-networks_item:first-of-type { margin-right: 17px; }

.contacts_social-networks_item:first-of-type svg { width: 35px; }

.contacts_social-networks_item:hover svg { opacity: 1; transition: .3s ease-in-out; }

.contacts .btn_wrapper, .contacts .btn { width: 100%; }

.form_input_container { display: flex; flex-direction: column; margin-bottom: 21px; }

.form_input_container label { font-size: 10px; color: #505050; font-family: "Raleway"; }

.form_input_container input { outline: none; padding: 11px 0 13px; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.14); transition: .3s ease-in-out; }

.form_input_container input::placeholder { font-family: "Raleway"; font-size: 16px; transition: .3s ease-in-out; overflow: visible; }

.form_input_container input:focus, .form_input_container input:hover { color: #24abe2; border-bottom: 1px solid #24abe2; transition: .3s ease-in-out; }

.form_input_container input:focus::placeholder, .form_input_container input:hover::placeholder { transition: .3s ease-in-out; color: #24abe2; }

.form_bottom { display: flex; align-items: center; justify-content: center; margin-top: 26px; }

.form_bottom label { margin-left: 10px; font-family: "Raleway"; font-size: 11px; }

.form_bottom label span { cursor: pointer; color: #3a6fbf; text-decoration: underline; }

.go_up { position: fixed; display: flex; flex-direction: column; align-items: center; opacity: .5; transition: .3s ease-in-out; right: 15px; bottom: 10px; text-decoration: none; color: #74929e; text-transform: uppercase; font-size: 12px; }

.go_up img { width: 30px; height: 30px; margin-bottom: 10px; }

.go_up:hover { opacity: 1; transition: .3s ease-in-out; }

@media (max-width: 888px) { .contacts_chech { padding-bottom: 48px; }
  .contacts_chech_adr { padding-bottom: 44px; }
  .contacts_container:not(:nth-child(2)) { max-width: 264px; }
  .contacts_container:nth-child(2) { order: 3; }
  .contacts_main-container { flex-wrap: wrap; } }

@media (max-width: 570px) { .contacts_container:nth-child(-n+3) { max-width: 300px; margin-right: 0; } }

.footer { padding: 30px 0; background-color: #000000; font-family: "Raleway"; font-size: 10px; color: #ffffff; }

.footer .wrapper { display: flex; justify-content: space-between; }

.footer_rights { opacity: .2; }

.footer_domain { text-transform: uppercase; }

.footer_confidential { opacity: 0.5; padding-bottom: 5px; border-bottom: 1px solid rgba(253, 77, 79, 0.2); }

@media (max-width: 386px) { .footer { padding: 20px 0 10px; }
  .footer_confidential { margin-bottom: 16px; }
  .footer_domain { margin-bottom: 14px; }
  .footer .wrapper { flex-direction: column-reverse; align-items: center; } }

.main { min-height: 100vh; background: no-repeat center/cover url(../img/hero/bgHero.png); }

.main .wrapper { display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 100vh; }

.main .hero_subtitle { margin-top: 19px; }

.main .btn_container { margin-top: 35px; width: 100%; max-width: 358px; }

.main .btn_container .btn_wrapper, .main .btn_container .btn { width: 100%; }

.modal { display: none; position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background-color: rgba(0, 0, 0, 0.4); }

.modal .btn_wrapper, .modal .btn { width: 100%; }

.modal-content { position: relative; background-color: #fefefe; margin: 11% auto; padding: 20px; border: 1px solid #888; width: 100%; max-width: 290px; padding: 37px 49px 37px 52px; }

.close { position: absolute; right: 15px; top: 15px; opacity: .2; width: 25px; border-radius: 50%; border: 1px solid #000; padding: 6px; transition: .3s ease-in-out; }

.close:hover, .close:focus { opacity: 1; transition: .3s ease-in-out; }

@media (max-width: 425px) { .modal-content { padding: 17px 20px; } }
