@import 'variables'

.beauty 
   padding: 69px 0 75px

   &_title:after
      background-color: #10a0db

   &_main-container 
      margin-top: 35px
      position: relative

   &_previous-button 
      left: 140px 

   &_next-button
      right: 140px

   .subtitle 
      color: #505050

   &_slide 
      outline: none
      img 
         margin: 0 auto

@media (max-width:1092px )
   .beauty_previous-button 
      left: 126px 

   .beauty_next-button
      right: 126px

@media (max-width:1054px)
   .beauty_previous-button 
      left: 104px 

   .beauty_next-button
      right: 104px

@media (max-width: 1006px)
   .beauty_previous-button 
      left: 80px 

   .beauty_next-button
      right: 80px

@media (max-width: 970px)
   .beauty_previous-button 
      left: 63px 

   .beauty_next-button
      right: 63px

@media (max-width: 920px)
   .beauty_previous-button 
      left: 37px 

   .beauty_next-button
      right: 37px

@media (max-width: 880px)
   .beauty_previous-button 
      left: 17px 

   .beauty_next-button
      right: 17px

@media (max-width: 840px)
   .beauty_previous-button 
      left: 0 

   .beauty_next-button
      right: 0

@media (max-width: 800px)
   .beauty_previous-button 
      left: -17px

   .beauty_next-button
      right: -17px


@media (max-width: 425px)
   .beauty_slide 
      img 
         height: 186px

   .beauty_previous-button, .beauty_next-button
      top: 29%

   .beauty_previous-button 
      left: 0

   .beauty_next-button
      right: 0

@media (max-width: 353px)
   .beauty_previous-button 
      left: -15px

   .beauty_next-button
      right: -15px



