@import 'variables'

.contacts
   padding: 69px 0 50px
   background: no-repeat center/cover url(../img/contacts/bg.png)

   .wrapper 
      position: relative

   .title 
      &:after 
         background-color: #24abe2

   &_main-container
      display: flex
      justify-content: center
      margin-top: 34px

   &_container 
      margin-right: 20px
      width: 100%
      max-width: 355px

      &:last-child
         margin-right: 0

      &:nth-child(2)
         padding: 37px 50px 37px 52px
         background-color: #ffffff
         border-radius: 4px
         border: 1px solid #24abe2
         max-width: 291px
         


   &_item
      display: flex
      align-items: center
      padding: 32px 0px 32px 35px
      border-bottom: 1px solid rgba(0, 0, 0, .07)
      color: #505050
      font-family: $first_font

      img 
         width: 30px
         margin-right: 20px

      &:first-of-type
         align-items: flex-start

         img 
            margin-right: 29px

      &:nth-child(2n)
         font-family: $second_font
         font-size: 14px

      &:nth-child(4n)
         border-bottom: none

      &:nth-child(7)
         padding-top: 43px
         padding-bottom: 43px

      &_info 
         display: flex
         flex-direction: column
         font-size: 20px

         span:nth-child(2)
            margin-top: 13px

      &_email
         color: #10a0db
         font-size: 16px
         border-bottom: 1px solid rgba(16, 160, 219, 0.2)
         padding-bottom: 2px

      &_title 
         color: #24abe2
         font-family: $second_font
         font-size: 20px
         line-height: 30px
         margin-bottom: 30px

      &_subtitle
         color: #7a7a7a
         font-family: $second_font
         line-height: 21px
         margin-bottom: 36px

   &_bottom-info
      margin-top: 35px
      text-align: center
      font-family: $second_font
      color: #7a7a7a

   &_social-networks_container
      text-align: center
      margin-top: 35px

   &_social-networks_item
      margin-right: 19px
      color: transparent

      svg 
         width: 30px
         height: 30px
         opacity: 0.35
         transition: .3s ease-in-out

      &:last-of-type 
         margin-right: 0

         svg
            width: 35px

      &:first-of-type 
         margin-right: 17px
         svg
            width: 35px

      &:hover 
         svg
            opacity: 1
            transition: .3s ease-in-out

   .btn_wrapper, .btn  
      width: 100%


.form_input_container
   display: flex
   flex-direction: column
   margin-bottom: 21px

   label 
      font-size: 10px
      color: #505050
      font-family: $second_font


   input
      outline: none
      padding: 11px 0 13px
      border: none
      border-bottom: 1px solid rgba(0, 0, 0, 0.14)
      transition: .3s ease-in-out 

      &::placeholder
         font-family: $second_font
         font-size: 16px
         transition: .3s ease-in-out
         overflow: visible

      &:focus, &:hover
         color: #24abe2
         border-bottom: 1px solid #24abe2
         transition: .3s ease-in-out

      &:focus::placeholder, &:hover::placeholder 
         transition: .3s ease-in-out
         color: #24abe2

.form_bottom
   display: flex
   align-items: center
   justify-content: center
   margin-top: 26px

   label
      margin-left: 10px
      font-family: $second_font
      font-size: 11px
      span 
         cursor: pointer
         color: #3a6fbf
         text-decoration: underline

.go_up
   position: absolute
   display: flex
   flex-direction: column
   align-items: center
   opacity: .5
   transition: .3s ease-in-out
   right: 0
   bottom: -23px
   text-decoration: none
   color: #74929e
   text-transform: uppercase
   font-size: 12px

   img 
      width: 30px
      height: 30px
      margin-bottom: 10px

   &:hover 
      opacity: 1
      transition: .3s ease-in-out

