@import 'variables'

.footer 
   padding: 30px 0
   background-color: #000000
   font-family: $second_font
   font-size: 10px
   color: #ffffff
   .wrapper 
      display: flex
      justify-content: space-between
      

   &_rights
      opacity: .2

   &_domain
      text-transform: uppercase

   &_confidential
      color: #fff
      opacity: 0.5
      padding-bottom: 5px
      border-bottom: 1px solid rgba(253, 77, 79, 0.2)
      transition: .3s ease-in-out
      cursor: pointer

      &:hover 
         transition: .3s ease-in-out
         border-bottom: 1px solid transparent
         opacity: 1


@media (max-width:386px)
   .footer
      padding: 20px 0 10px
      &_confidential
         margin-bottom: 16px

      &_domain
         margin-bottom: 14px

      .wrapper
         flex-direction: column-reverse
         align-items: center
      