@import 'variables'
   
.header 
   padding: 13px 0 11px
   background-color: #0c3a4c

   &-content 
      display: flex
      justify-content: space-between
      padding: 0 6px

   &-item 
      text-decoration: none
      text-transform: uppercase
      font-family: $first_font
      color: #74929e
      transition: .3s ease-in-out

      &:hover
         transition: .3s ease-in-out
         color: #20a9e1
      
      