@import 'variables'
   
.hero 
   padding: 20px 0 69px
   background: center / cover no-repeat url('../img/bgHero.png')

   &_top-content 
      display: flex
      justify-content: space-between
      font-family: $second_font 

      &_item 
         display: flex
         align-items: center

   &_logo 
      width: 68px
      height: 65px
      background: #000
      margin-right: 29px

   &_info 
      color: #ffffff
      opacity: 0.5
      font-size: 14px
      line-height: 21px

   &_social-network-container 
      margin-right: 26px


   &_social-network 
      margin-right: 19px

      svg 
         width: 30px
         height: 30px
         opacity: 0.35


      &:last-of-type 
         margin-right: 0

         svg
            width: 35px

      &:first-of-type 
         margin-right: 17px
         svg
            width: 35px

      &:hover 
         svg
            opacity: 1

   &_contacts-container
      text-align: right

      &_info
         color: #fff
         font-size: 14px
      
      &_phone 
         font-family: $first_font
         font-size: 30px
         color: #fff
         margin: 6px 0 5px

   &_order 
      text-decoration: none
      color: #10a0db
      font-size: 14px
      border-bottom: 1px solid rgba(253, 77, 79, 0.5)
      padding-bottom: 4px
         
   &_title 
      margin-top: 71px
      font-family: $first_font
      font-size: 48px
      font-weight: 500
      color: #ffffff
      text-align: center

   &_subtitle 
      position: relative
      margin-top: 34px 
      padding-bottom: 34px
      line-height: 30px
      font-family: $second_font
      color: #ffffff
      font-size: 24px
      text-align: center
      font-weight: 400

      &:after
         content: ''
         position: absolute
         background-color: #ffffff
         height: 1px
         width: 67px
         left: 47%
         bottom: 0


   &_advantages-main-container 
      font-family: $second_font

   &_advantages-container
      display: flex

      &:first-of-type 
         padding: 37px 17px 18px
         border-bottom: 1px solid rgba(232, 232, 232, 0.1)

      &:last-of-type 
         padding: 18px 17px 0

   &_advantages-item 
      display: flex
      align-items: center
      flex-grow: 1
      max-width: 25%
      span 
         line-height: 21px
         margin-left: 18px
         color: #fff

.btn_container
   z-index: 1
   text-align: center
   position: relative

.btn
   position: relative
   box-shadow: inset 0 -1px 0 #fd6264
   border-radius: 4px
   background-image: linear-gradient(to top, #fd4d4f 0%, #fd8687 100%)
   color: #ffffff
   font-family: $first_font
   text-transform: uppercase
   text-shadow: 0 1px 0 #d94244
   border: none
   padding: 29px 42px
   margin-top: 50px 
   font-size: 16px


   &:after
      content: ''
      width: 100%
      height: 100%
      box-shadow: 0 3px 27px 1px rgba(253, 105, 107, 0.52)
      border-radius: 14px  
      background-color: #aa3435
      position: absolute
      left: 0
      bottom: -6px
      z-index: -1


.bottom_info 
   margin-top: 19px
   text-align: center
   
   span 
      font-family: $second_font
      

   
      