@import 'variables'

.quiz 
   padding: 68px 0 73px
  
   &_content 
      background: url(../img/quiz/accounting_services_.png) no-repeat left, url(../img/quiz/accounting_servicesR.png) no-repeat right;

   &_answers-container
      display: flex
      flex-wrap: wrap

   &_answer 
      font-family: $second_font
      margin-left: 19px
      border-bottom: 1px solid rgba(16, 160, 219, 0.2)
      padding-bottom: 2px
      color: #24ace3
      transition: .3s ease-in-out

   &_answer-item 
      display: flex
      align-items: center
      margin-right: 29px
      margin-bottom: 18px
      padding: 18px 87px 17px 31px
      transition: .3s ease-in-out
      border-radius: 4px
      background-color: #f9f9f9
      border: 1px solid #f9f9f9
      max-width: 188px
      width: 100%

      &:hover
         box-shadow: 0 3px 18px 3px rgba(253, 105, 107, 0.14)
         border: 1px solid #fdadae
         transition: .3s ease-in-out
         background-color: #fff

      
         .quiz_answer-item_icon 
            fill: #fd4d4f
            transition: .3s ease-in-out

         .quiz_answer 
            color: #777777
            border-bottom: 1px solid rgba(253, 77, 79, 0.5)
            transition: .3s ease-in-out


      &:nth-child(2n)
         margin-right: 0

   

   &_answer-item_icon 
      fill: #c5c5c5
      transition: .3s ease-in-out

   &_main-container 
      padding: 10px 12px
      margin: 35px auto 0
      max-width: 854px
      background: #fff
      box-shadow: 0 5px 33px 2px rgba(0, 0, 0, 0.03)
      border: 1px solid #f9f9f9

   &_item 
      border: 1px solid #f0f0f0
      border-radius: 4px
      padding: 51px 108px 40px 99px

   &_number
      text-align: center
      font-family: $second_font
      color: #7a7a7a
      font-size: 12px
      font-weight: 500
      margin-bottom: 34px

   &_progress
      position: relative
      max-width: 100%
      width: 100%
      height: 4px
      background-color: #f9f9f9

      span 
         position: absolute
         max-width: 25%
         width: 100%
         height: 4px
         background-color: #fd4d4f
         transition: all .3s ease-in-out


   &_title 
      color: #505050
      font-size: 24px
      font-family: $second_font
      text-align: center
      padding: 33px 0 35px

   &_btn
      text-align: left
      margin-top: 17px
      button 
         padding: 25px 85px 27px 

      .btn_wrapper 
         margin-right: 29px
         

   &_previous-question
      font-family: $second_font
      opacity: 0.5
      color: #505050
      border-bottom: 1px solid rgba(80, 80, 80, .1)
      cursor: pointer

   &_form_container
      margin-top: 33px

      &_title 
         font-family: $second_font
         color: #505050
         font-size: 24px
         margin-bottom: 35px

      .btn_container 
         text-align: left
         max-width: 293px
         padding-left: 5px

         .btn_wrapper, .btn 
            width: 100%

      .form_bottom 

         justify-content: flex-start
         margin-left: 17px

   .form_input_container
      margin-bottom: 35px

      input 
         max-width: 290px

 
.title 
   text-align: center
   position: relative
   padding-bottom: 29px
   color: #505050
   font-family: $first_font
   font-size: 36px
   font-weight: 500

   
   &:after
      content: ''
      position: absolute
      background-color: #505050
      height: 1px
      width: 67px
      left: 47%
      bottom: 0

.title:nth-of-type(even) 
   color: #fff

   
.selected 
   box-shadow: 0 3px 18px 3px rgba(253, 105, 107, 0.14)
   border: 1px solid #fdadae
   transition: .3s ease-in-out
   background-color: #fff

      
   .quiz_answer-item_icon 
      fill: #fd4d4f
      transition: .3s ease-in-out

      .quiz_answer 
         color: #777777
         border-bottom: 1px solid rgba(253, 77, 79, 0.5)
         transition: .3s ease-in-out
