@import 'variables'

.reviews
   padding: 69px 0 74px
   background: center/cover  no-repeat  url('../img/reviews/bg.png') 

   .title 
      color: #ffffff

      &:after 
         content: none

   &_main-container,
      position: relative
      margin: 34px 0

      .slider-dots
         margin-top: 11px



   &_slide 
      display: flex
      flex-direction: column

      a 
         outline: none


   &_slide_photo-container 
      width: 166px
      height: 158px
      text-align: center
      border-radius: 50%
      padding: 11px
      margin-right: 23px

      @media (max-width: 600px)
         margin-right: 0

   &_slide_photo 
      position: relative
      border-radius: 50%
      padding: 21px

      &:before, &:after
         content: ''
         position: absolute
         border: 1px solid #fd4d4f
         left: -10px
         right: -10px
         top: -10px
         bottom: -10px
         border-radius: 50%
         animation: pulse 7s linear infinite
         opacity: 0
         z-index: -1

      &:after
         animation-delay: 5s


      .ripplelink 
         box-shadow: 0 0 27px 8px rgba(253, 105, 107, 0.52)
         border-radius: 50%

      &_img 
         border-radius: 50%
         width: 100%
         
         

   &_slide_icon 
      position: absolute
      right: -15px
      top: calc(50%  - 27px)
      width: 45px
      height: 45px

   &_slide_container 
      display: flex
      margin-bottom: 31px
      flex-direction: column
      
      &:nth-of-type(2n) 
         margin-bottom: 0

   &_slide_item 
      
      flex-grow: 1
      margin-bottom: 24px
      opacity: .6
      transition: .3s ease-in-out

      a 
         display: flex
         align-items: center
         justify-content: center

         @media (max-width: 600px)
            flex-direction: column

      &:hover 
         opacity: 1
         transition: .3s ease-in-out

         .reviews_slide_info 
            opacity: 1
            transition: .3s ease-in-out


   &_slide_info 
      color: #ffffff
      opacity: .35
      font-family: $first_font
      border-bottom: 1px solid rgb(253, 77, 79)
      line-height: 21px
      transition: .3s ease-in-out

   &_previous-button, &_next-button
      top: 40%

@keyframes pulse 
   0% 
      transform: scale(0.5)
      opacity: 0
 
   50% 
      opacity: 1
 
   100% 
      transform: scale(1)
      opacity: 0
 



.second_subtitle
      position: relative
      max-width: 717px
      width: 100%
      margin: 5px auto 0
      color: #d3d3d3
      font-family: $second_font
      font-size: 20px
      line-height: 30px
      text-align: center
      padding-bottom: 35px

      &:after 
         content: ''
         position: absolute
         background-color: #10a0db
         height: 1px
         width: 67px
         left: 50%
         transform: translate(-50%, 0)
         bottom: 0

      @media (max-width: 425px)
         font-size: 18px
         line-height: 26px
