@import 'variables'

.vantage 
   padding: 69px 0 75px

   .title:after 
      content: none

   .second_subtitle 
      color: #7a7a7a

   &_main-container 
      position: relative
      padding: 4px 0 35px 54px
      background: no-repeat center/contain url("../img/vantage/bg.png"), no-repeat center/contain url('../img/vantage/bg2.png')

   &_container
      display: flex
      flex-wrap: wrap
      max-width: 616px
      width: 100%


   &_item 
      margin-right: 30px
      margin-top: 31px
      max-width: 234px
      padding: 31px 31px 33px 28px
      border-radius: 4px 4px 4px 1px
      background-color: #ffffff 

      &:nth-of-type(2n)
         margin-right: 0

      &_top-container
         display: flex
         align-items: center
         margin-bottom: 27px

         img 
            width: 60px
            height: 60px

      &_title 
         color: #505050
         font-size: 18px
         font-family: $first_font
         text-transform: uppercase
         margin-left: 20px 
         line-height: 24px

      &_info 
         color: #7a7a7a
         font-family: $second_font
         font-size: 14px
         line-height: 21px

   &_img 
      position: absolute
      bottom: 0
      right: 2px
      width: 442px
      height: 526px

   &_main-video-container
      position: relative

      .previous-button
         left: 28%

      .next-button 
         right: 28%


   &_video-slide
      width: 481px
      opacity: 0.3


   &_video-item
      position: relative

      &_video
         display: block
         margin: 0 auto
         height: 400px

      
      &_playpause_container
         position: absolute
         top: 50%
         left: 50%
         transform: translate(-50%, -50%)
         width: 93px
         height: 92px
         padding: 10px 
         border-radius: 50%

         &:before, &:after
            content: ''
            position: absolute
            border: 1px solid #fd4d4f
            left: -10px
            right: -10px
            top: -10px
            bottom: -10px
            border-radius: 50%
            animation: pulse 7s linear infinite
            opacity: 0
            z-index: -1

         &:after
            animation-delay: 5s

      &_playpause_wrapper
         display: flex
         justify-content: center
         align-items: center
         border-radius: 50%
         width: 72px
         height: 71px
         margin: 10px auto 0
         background: linear-gradient(to top,#fd4d4f 0,#fd8687 100%)

         &:hover 
            background-image: linear-gradient(to top, #ff4f51 0%, #ffa6a7 100%)


      &_playpause 
         
         border-radius: 50%
         width: 61px
         display: flex
         height: 61px
         align-items: center
         justify-content: center

      &_playpause_elem 
         width: 0
         height: 0
         border-style: solid
         border-width: 9.5px 0 9.5px 12px
         border-color: transparent transparent transparent #fff

   &_main-photo-container
      position: relative
      margin-top: 42px
      margin-bottom: 34px

      .previous-button, .next-button
         top: 28%

   &_photo-slider

      .vantage_photo-item
         display: flex
         justify-content: center


   &_photo-item 
      img 
         border: 1px solid transparent
         border-radius: 4px
         width: 166px
         height: 170px
         transition: .3s ease-in-out

         &:hover 
            border: 1px solid #fd4d4f
            transition: .3s ease-in-out

         

   .subtitle 
      color: #505050
      margin-top: 16px

.slick-current.vantage_video-slide
      opacity: 1

@media (max-width: 1096px)
   .vantage_img
      right: 0
      bottom: -15px
      width: 300px
      height: 358px

@media (max-width: 920px)
    .vantage_img
      width: 213px
      height: 269px

@media (max-width: 844px)
   .vantage_img
      display: none

   .vantage_main-container
      background-size: cover

   .vantage_main-container
      padding-left: 0

   .vantage_container 
      margin: 0 auto

@media (max-width: 654px)
   .vantage_container
      justify-content: center

   .vantage_main-container
      background: #fff

   .vantage_item
      max-width: 256px
      margin-right: 0
      border: 1px solid #f0f0f0
      margin-top: 19px

   .vantage_photo-item
      img 
         width: 131px
         height: 135px

   .vantage_main-photo-container 
      .previous-button, .next-button     
         top: 22%


@media (max-width: 1352px)
   .vantage_main-video-container 
      .previous-button
         left: 27%

      .next-button
         right: 27%     

@media (max-width: 1240px)
   .vantage_main-video-container 
      .previous-button
         left: 25%

      .next-button
         right: 25% 

@media (max-width: 1150px)
   .vantage_main-video-container 
      .previous-button
         left: 23%

      .next-button
         right: 23% 

   

@media (max-width: 1060px)
   .vantage_main-video-container 
      .previous-button
         left: 19%

      .next-button
         right: 19% 

@media (max-width: 986px)
   .vantage_main-video-container 
      .previous-button
         left: 19%

      .next-button
         right: 19% 


@media (max-width: 916px)
   .vantage_main-video-container 
      .previous-button
         left: 16%

      .next-button
         right: 16%    


@media (max-width: 834px)
   .vantage_main-video-container 
      .previous-button
         left: 13%

      .next-button
         right: 13% 

@media (max-width: 766px)
   .vantage_main-video-container 
      .previous-button
         left: 9%

      .next-button
         right: 9% 

@media (max-width: 700px)
   .vantage_main-video-container 
      .previous-button
         left: 6%

      .next-button
         right: 6% 


@media (max-width: 650px)
   .vantage_main-video-container 
      .previous-button
         left: 2%

      .next-button
         right: 2% 

@media (max-width: 590px)
   .vantage_main-video-container 
      .previous-button
         left: 0

      .next-button
         right: 0 

@media (max-width: 425px)
   .vantage_main-photo-container 
      .previous-button, .next-button     
         top: 22%

   .vantage_video-item
      height: 197px

      &_video 
         height: 100%