@import 'variables'

.work 
   padding: 80px 0 75px
   background: no-repeat center/cover url('../img/reviews/bg.png')

   .title 
      color: #ffffff

      &:after
         background-color: #ffffff

   &_container
      display: flex
      align-items: center
      justify-content: center
      position: relative
      padding-top: 270px
      padding-bottom: 200px

   
   &_item 
      padding: 30px 41px 28px 31px
      background: rgba(255, 255, 255, 0.1)
      border-radius: 4px

      &_wrapper
         position: absolute
         width: 100%
         
         &:nth-child(1)
            top: 47px
            max-width: 356px

            .work_item_number 
               left: calc(50% - 20px)
               bottom: -20px

         &:nth-child(2)
            top: 177px
            right: 51px
            max-width: 263px

            .work_item 
               padding: 29px 36px 30px 29px

            .work_item_number 
               bottom: -20px
               left: -14px

         &:nth-child(3)
            right: 55px
            bottom: 111px
            max-width: 263px

            .work_item 
               padding: 30px 30px 29px 28px

            .work_item_number
               top: -12px
               left: -12px

         &:nth-child(4)
            bottom: 44px
            max-width: 357px

            .work_item_number
               top: -15px
               left: calc(50% - 20px)

         &:nth-child(5)
            bottom: 63px
            left: 55px
            max-width: 263px

            .work_item_number
               top: -12px
               right: -12px

            .work_item
               padding: 25px 33px 30px 29px

         &:nth-child(6)
            top: 160px
            left: 55px
            max-width: 263px

            .work_item_number
               right: -15px
               bottom: -12px

            


      &_title 
         color: #24abe2
         font-size: 20px
         font-family: $first_font
         margin-bottom: 16px
         line-height: 30px

      &_number 
         position: absolute
         display: flex
         justify-content: center
         align-items: center
         background-color: #fd4d4f
         width: 30px
         height: 30px
         color: #ffffff
         border-radius: 50%
         padding: 5px
         z-index: 3


      &_info 
         color: #ffffff
         font-family: $second_font
         font-size: 14px
         line-height: 21px
         
            
   &_center-item
      position: relative
      display: flex
      justify-content: center
      align-items: center
      max-width: 518px
      width: 100%
      height: 518px
      border-radius: 50%
      border: 10px solid #24abe2
      z-index: 2

      &:after
         content: ''
         position: absolute
         max-width: 323px
         width: 100%
         height: 323px
         background-color: #f9f9f9
         opacity: 0.1
         border-radius: 50%
         z-index: -1


   .btn
      margin-top: 0

               
   
@media (max-width: 1082px)

   .work_item_wrapper

      &:nth-child(2), &:nth-child(3)
         right: 25px

      &:nth-child(5)
         left: 33px

      &:nth-child(6)
         left: 25px

@media (max-width: 1032px)
   .work_item_wrapper

      &:nth-child(2), &:nth-child(3)
         right: 0

      &:nth-child(5)
         left: 5px

      &:nth-child(6)
         left: 0


@media (max-width: 976px)
   .work_center-item 
      height: 452px
      max-width: 452px

@media (max-width: 942px)
   .work_center-item
      height: 380px
      max-width: 386px
      img
         width: 90%

@media (max-width: 924px)
   .work_container
      padding-top: 464px
      padding-bottom: 271px
   .work_item
      max-width: 147px
      width: 100%
      margin: 0 auto

   .work_item_wrapper
      &:nth-child(2)
         right: 34px
         top: 290px
         .work_item_number
            left: 5px

      &:nth-child(3)
         right: 13px
         .work_item_number
            left: 10px

      &:nth-child(5)
         bottom: 18px
         left: 10px
         .work_item_number
            right: 12px

      &:nth-child(6)
         left: 30px
         top: 257px
         .work_item_number
            right: 6px


@media (max-width:876px)
   .work_item_wrapper
      &:nth-child(2)
         right: 13px

      &:nth-child(3)
         right: -7px

      &:nth-child(5)
         left: -10px

      &:nth-child(6)
         left: 9px


@media (max-width: 840px)
   .work_center-item
      max-width: 344px
      height: 340px

      &:after 
         width: 65%
         height: 65%


@media (max-width: 814px)
   .work_center-item
      max-width: 304px
      height: 300px

   .work_item_wrapper
      &:nth-child(2)
         right: 4px

      &:nth-child(5)
         left: -5px

      &:nth-child(6)
         left: 0

@media (max-width: 780px)
   .work_container 
      display: flex
      flex-direction: column
      padding-top: 50px
      padding-bottom: 1px

   .work_item_wrapper:nth-child(-n+6)
      position: relative
      right: auto
      left: auto
      bottom: auto
      top: auto
      max-width: 550px
      width: 100%
      margin-bottom: 33px

      .work_item_number
         left: 50%
         top: -20px
         transform: translate(-50%, 0)


      .work_item
         padding: 30px 41px 28px 31px
         width: auto
         max-width: 100%
         margin: 0
      

   .work_container 
      display: flex
      flex-wrap: wrap

   .work_center-item
      display: none

   

